.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}


.table th,
.table td {
    padding:10px 15px;
    vertical-align: top;
    border-top: 1px solid #ccc;
}

.table th {
    vertical-align: bottom;
    border-bottom: 2px solid #ccc;
}





